* {
  background-color: #222222;
}

header {
  height: 150px;
 
}

header > img {
  width: 100%;
  height: 100px;
  opacity: .3;
}

header > nav {
  position: absolute;
  right: 10px;
  top: 50px;
  background-color: transparent;
  }

h1 {
  position: absolute;
  left: 10px;
  top: 60px;
  color: #101010;
  background-color: transparent;
  font-family: 'rye';
  font-size: 30px;
  letter-spacing: .10em;
  text-shadow: 0 0 10px #888888;
  }

li {
  margin-right: 50px;
  display:block;
  list-style:none;
  float:left;
  font-family: 'Oswald', sans-serif;
  }

ul li a{
  display: inline-block;
  background-color: #002A02;
  border: 2px solid;
  padding: 4px;
  border-radius: 6px 6px;
  color: #555555;
  text-decoration:none;
  box-shadow: 0 0 3px #888888;
  }

ul li a:hover {
  background-color: #333333;
  color: #064F0C;
  border: 3px solid;
  font-family: 'Oswald', sans-serif;
}

#date-dropdown{
  margin-left: 20px;
  margin-bottom: 20px; 
}

#entry-date {
  font-family: 'Oswald', sans-serif;
  outline: none !important;
  border:2px solid #064F0C;
  box-shadow: 0 0 5px #666666;
  height: 35px;
  color: #064F0C;
  background-color: #333333;
  text-shadow: 0 0 10px #010801;
}

#submit {
  font-family: 'Oswald', sans-serif;
  color: #064F0C;
  border: 2px solid;
  padding: 4px;
  border-radius: 6px 6px;
  background-color: #333333;
  text-decoration:none;
  margin-left: 5px;
  height: 35px;
  width: 60px;
  box-shadow: 0 0 5px #666666;
  text-shadow: 0 0 10px #010801;
  font-size: 100%;
}

#submit:hover {
  background-color: #444444;
  color: #064F0C;
  border: 3px solid;
  font-family: 'Oswald', sans-serif;
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#past > img {
  height: 500px;
  margin: 20px;
  box-shadow: 0 0 25px #888888, 0 0 15px #064F0C;
}

#present > img {
  height: 500px;
  margin: 20px;
  box-shadow: 0 0 25px #888888, 0 0 15px #064F0C;
}

#future > img {
  height: 500px;
  margin: 20px;
  box-shadow: 0 0 25px #888888, 0 0 15px #064F0C;
}


#description {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'rye';
  text-shadow: 0 0 10px #999999; 
  color: #002A02;
  font-size: 200%;
  letter-spacing: .10em;
  margin: 10px;
  margin-top: 20px;
  text-decoration: underline;

footer {
  width: 100%;
  color:  rgb(164, 182, 150);
  margin-top: 100px;
  text-align: center;
  padding: 5px;
}

footer > p {
  padding: 2px;
}

footer > p > a {
  color: rgb(86, 107, 71);

}